@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/EuroStyleNormal.ttf') format('truetype'),
       url('/fonts/eurostile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face{
  font-family: 'Roboto';
  src: url('/fonts/Roboto-bold.ttf') format('truetype'),
  url('/fonts/Roboto-Regular.ttf') format('truetype'),
  url('/fonts/Roboto-Light.ttf') format('truetype');

  font-family: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
